html
  head
    include css.pug
  body
    block content
    block scripts
      
        script(src='angular.js')
        script(src='bootstrap.min.js')
        script(src='jquery.min.js')
    
     
    
    include footer.pug
